.red-bg {
  background-color: #f3afaf;
  height: inherit;
  padding: 5px;
}
.green-bg {
  background-color: #a7f3b6;
  padding: 5px;
  height: inherit;
}
.logo {
  height: 50px;
}
.content {
  padding: 40px 0;
}
.form-error {
  background-color: #f3afaf;
}
.log-out-button {
  border-radius: 13px;
  border: none;
  background-color: white;
  margin: 0 20px;
}
.cell {
  background-color: lightgray;
  border: solid 1px rgb(218, 218, 218);
  height: 60px;
}
.current-month {
  background-color: white;
}
.navbar {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70%;
  padding: 0.75em 0;
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  overflow: hidden;
  background: rgb(235, 235, 235);
  transition: 0.25s ease-out;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: lightslategray;
  pointer-events: none;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.cell {
  padding: 0px;
}