.cell {
  background-color: lightgray;
  border: solid 1px rgb(255, 255, 255);
  padding: 0px;
}

@media (max-width: 576px) {
  .week-day {
    transform: rotate(-90deg);
    height: 25px;
    overflow-wrap: auto;
  }
  .note {
    font-size: 70%;
  }
  .container .btn {
    width: inherit;
  }
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
}

.header .icon:hover {
  transform: scale(1.25);
  transition: 0.25s ease-out;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70%;
  padding: 0.75em 0;
}

.calendar .body .cell {
  height: 5em;
  background: rgb(235, 235, 235);
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: lightslategray;
}